body {
    background-color: #ffffff;
}

/* navbar color */
.nav-color {
    background-color: rgba(
        255,
        255,
        255,
        0.5
    ); /* Warna putih dengan transparansi 50% */
    transition: all ease-in-out 0.5s;
    backdrop-filter: blur(5px); /* Menambahkan efek blur */
    -webkit-backdrop-filter: blur(5px); /* Untuk dukungan browser tertentu */
}
.bg-transparent {
    transition: all ease-in 0.5s;
}

.form-signin {
    max-width: 450px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin label {
    color: #64748b;
}

/* Category */
.category-active {
    background-color: #64ccc5;
}

/* Footer */
.footer {
    font-size: 14px;
    background-color: #fff;
    padding: 50px 0;
    color: black;
}

.footer .footer-info span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-primary);
    font-family: var(--font-primary);
}
.footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
    margin-bottom: 40px;
}
.footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 16px;
    color: black;
    margin-right: 10px;
    transition: 0.3s;
}
.footer .social-links a:hover {
    border: 1px solid #54bab9;
    color: black;
}

.footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-contact p {
    line-height: 26px;
}
